html {
    font-family: sans-serif;
}
#day1 {
    border: 8px solid tomato;
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result {
    opacity: 0;
    transition: opacity 3s ease;
}
.result:hover {
    opacity: 1;
    cursor: pointer;
}
.small {
    font-size: 11px;
    margin-bottom: 25px;
}
p, h3 {
    margin: 0;
    padding: 0;
}
