html {
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#day1 {
    border: 8px solid tomato;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}
#day1 > div {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
}
#day1 > div:first-child {
    border-right: 2px solid tomato;
}
.result {
    opacity: 0;
    transition: opacity 3s ease;
}
.result:hover {
    opacity: 1;
    cursor: pointer;
}
.small {
    font-size: 11px;
    margin-bottom: 25px;
}
p, h3 {
    margin: 0;
    padding: 0;
}
